/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

html {
    background-color: #f3f3f3;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: #777;
}
a:hover {
    color: #222;
}
header {
    background-color: #fff;
    width: 100%;
    display: table;
}
footer {
    clear: both;
    height: 50px;
}
h1, h2, h3 {
    font-weight: 200;
}
header h1 {
    padding: 40px 0;
    font-size: 46px;
    float: left;
}
.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
nav {
    height: 200px;
    width: inherit;
    display:table-cell;
    vertical-align: middle;
}
nav ul {
    float: right;
}
nav li {
    list-style: none;
    display: inline;
    padding-left: 15px;
}
ul.inline li {
    list-style: none;
    display: inline;
}
section {
    padding: 15px 0;
    clear: both;
}
.col {
    background-color: #fff;
    min-height: 100%;
}
.col-sml {
    width: 305px;
}
.col-lrg {
    width: 640px;
}
.left {
    float: left;
    height: 200px;
}
.right {
    float: right;
    height: 200px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.content {
    padding: 30px;
}
.content.pad-thin {
    padding-left: 25px;
    padding-right: 25px;
}
.no-pad {
    padding: 0;
}
.center {
    text-align: center;
}
